# Flutter / Dart
.dart_tool/
.packages
.buildlog/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
pubspec.lock

# Android
**/android/.gradle/
**/android/local.properties
**/android/app/build/

# iOS
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/App.framework
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/.symlinks/
**/ios/Pods/
**/ios/build/

# macOS
**/macos/Flutter/ephemeral/
**/macos/Pods/
**/macos/build/

# Windows
**/windows/flutter/ephemeral/
**/windows/build/

# Linux
**/linux/flutter/ephemeral/
**/linux/build/

# IDE / Tools
*.iml
.idea/
.vscode/
.gradle/
.DS_Store
Thumbs.db

# Logs / temp
*.log
*.tmp
